.leftEllipse {
  position: absolute;
  top: 300px;
  left: 0px;
  width: 147px;
  height: 152px;
  filter: blur(120px);
  background: rgba(255, 207, 115, 0.4);
  border-radius: 50%;
}
.rightEllipse {
  position: absolute;
  top: 500px;
  right: 0px;
  width: 147px;
  height: 152px;
  filter: blur(120px);
  background: rgba(242, 54, 144, 0.7);
  border-radius: 50%;
}

.btnAnimation:hover {
  background: linear-gradient(
    135deg,
    rgb(92, 127, 255) 0%,
    rgb(203, 92, 255) 100%
  );
  transition: all 0.3s ease;
  transform: scale(1.02);
}

.btn {
  transition: all 0.3s ease;
}

@media only screen and (max-width: 640px) {
  .leftEllipse {
    display: none;
  }
  .rightEllipse {
    display: none;
  }
}
