.ellipse {
  position: absolute;
  top: 150px;
  left: -50px;
  width: 194px;
  height: 200px;
  filter: blur(140px);
  background: rgba(54, 129, 242, 0.7);
}
.hello {
  font-size: 400px;
}

@media only screen and (max-width: 640px) {
  .ellipse {
    display: none;
  }
}
